body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*Top Grey Banner*/
.header {
  background-color: #f0f0f0; 
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

/*"Fake Stack Overflow" in banner*/
.header h1 {
  font-size: 35px;
  color: #2a2a2a;
  margin-left: 43.5%;
}

/*Search bar*/
#search-bar {
  height: 3%;
  width: 17%;
  padding: 0.4%;
  font-size: 25px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 4%;
}


#main {
  display: flex;
  height: calc(100vh - 50px);
  overflow: hidden;
}

/*Left side of Main (questions/tags)*/
#menu {
  width: 14%;
  min-width: 14%; 
  max-width: 14%; 
  border-right: 3px dotted gray;
  padding: 1%;
  height: 100%;
  box-sizing: border-box;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Formatting on the tags*/
#menu li {
  margin-top: 10%;
  text-align: center;
  padding: 4%;
  cursor: pointer;
  color: blue;
  font-size: 23px;
}

#menu li.active {
  background-color: #ddd;
}

#menu li:hover:not(.active) {
  background-color: #efefef;
}

/*formatting all questions, ask questions*/
#questions-header{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom:1%
}
/*formatting number of questions, filter buttons*/
#question-buttons-header{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom:1%
}

#questions-area {
  padding:0;
  flex-grow: 1;
  overflow-y: auto;
}

/*formatting of ask question button*/
#ask-question-button {
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  height: 45px;
  background-color: #007bff;
  color: white;
  font-size: 25px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
}

#ask-question-button:hover {
  background-color: #0056b3;
}

#sorting-buttons{
  margin-right: 7%;
}

#sorting-buttons button {
  padding: 5px 10px;
  background-color: #f8f9fa;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 600;
}

#sorting-buttons button:hover {
  background-color: #e2e6ea;
}

#total-questions {
  font-size: 20px;
  margin-bottom: 10px;
}

/*FORMATTING FOR QUESTION LIST AND ALL QUESTION RELATED STUFF BELOW*/

#questions-list {
  border-top: 3px dotted gray;
  height: 70vh;
  overflow-y: auto;
}

#question-answers-views{
  align-items: center;
  margin: 0;
  width: 10%;
}

#total-answers {
  color: gray;
  margin-bottom: 6px;
  margin-top: 20px;
  font-size: 18px;
  justify-content: space-between;
}

#total-views {
  color: gray;
  margin-top: 5px;
  font-size: 18px;
  justify-content: space-between;
}

#questions-title-area{
  width: 60%;
  margin-left: 5%;
}

#questionsTitle {
  color: blue;
  font-size: 25px;
  margin: 0;
  width: 100%;
  word-wrap: break-word;
  text-decoration: none;
  font-weight: 600;
}

#questions-metadata {
  color: gray;
  align-items: center;
  display: flex;
  width: 30%;
  margin-left: 5%;
}

#nameAsked {
  color: red;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 0px 6px 0px 0px;
}

#timeAsked {
  color: gray;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}

#question-section{
  border-bottom: 3px dotted gray;
  height: 20%;
  padding-left: 3%;
  padding-right: 3%;
}

#questions-upperhalf{
  align-items: center;
  flex-direction: row;
  height: 50%;  
  display: flex;
  margin-top: 2%;
}

#tags-buttons-section{
  margin-top: 8px;
  height: 40 px;
  margin-left: 15%;
}

.tag-button {
  font-size: 18px;
  background-color: #656362;
  color:white;
  border: 1.5px solid black;
  border-radius: 4px;
  margin-right: 1%;
  padding: 7px 15px;
  display: inline-flex;
}

/*FORMATTING FOR THE ANSWER PAGE*/ 

.error{
  color: red;
}

#answer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.answers-total-num{
  font-size: 20px;
}

.answer-question-title{
  font-size: 24px;
  width: 70%;
}

#answer-mainchunk{
  align-items: center;
  flex-direction: row;
  height: 20%;  
  display: flex;
  margin: 0;
  border-bottom: 3px dotted gray;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.answer-views{
  font-size: 20px;
}

.answer-text{
  width: 60%;
  margin-left: 5%;
  font-size: 18px;
}

.answer-responses{
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.answer-ask-time-combo{
  flex-direction: column;
  display: flex;
  width: 30%;
  margin-left: 5%;
}

.answer-ask{
  margin:0;
  font-size: 18px;
  color: red;
}

.answer-time{
  margin:0;
  font-size: 18px;
  color: gray;
}

.answer-responses{
  align-items: center;
  flex-direction: row;
  display: flex;
  border-bottom: 3px dotted gray;
}

.answer-responses-text{
  font-size: 18px;
  width: 79%;
}

.answer-responses-user-time{
  flex-direction: column;
  display: flex;
  width: 30%;
  margin-left: 5%;
}

.answer-responses-user{
  font-size: 18px;
  color: green;
  margin: 0;
}

.answer-responses-time{
  color: gray;
  font-size: 18px;
  margin: 0;
}

#answer-question-button{
  padding-top: 2%;
  height: 45px;
  background-color: #007bff;
  color: white;
  font-size: 25px;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  padding-bottom: 4%;
}

/*FORMATTING FOR ANSWER FORM*/
#new-answer-form{
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

#new-answer-form p{
  margin: 0;
  font-style: italic;
}

#new-answer-form label{
  display: block;
  margin-top: 1em;
  font-size: 40px;
  color: #333;
}

#new-answer-form input[type="text"]{
  font-size: 24px;
  width: 100%;
  padding: 8px;
  margin-top: 0.5em;
  border: 1px solid black;
  box-sizing: border-box;
}

#new-answer-form textarea {
  height: 20%;
  font-size: 24px;
  width: 100%;
  padding: 8px;
  margin-top: 0.5em;
  border: 1px solid black;
  box-sizing: border-box;
}

#new-answer-form button{
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  background-color: hsl(216, 73%, 47%);
  color: white;
  border: 2px solid black;
  cursor: pointer;
  font-size: 22px;
}

#new-answer-form button:hover {
  background-color: hsl(216, 73%, 47%);
}

/*FORMATTING FOR TAGS PAGE*/

#tags-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4% 7% 4%;
}

#tags-header h2 {
  font-size: 35px;
  margin: 0;
}

/* Tags List styles */
#tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding: 20px;
  overflow-y: auto;
  height: auto;
}

.tag-box {
  border: 2px dotted #000;
  padding: 10px;
  width: calc(30% - 40px); 
  margin: 25px; 
  text-align: center;
  box-sizing: border-box; 
}

.tag-name {
  font-size: 20px;
  color: blue;
  display: block; 
  margin-bottom: 5px;
  text-decoration: none;
}

.tag-name:hover {
  text-decoration: underline;
}

.tag-count {
  font-size: 16px;
  color: #666;
}

/* FORMATTING FOR NEW QUESTON FORM*/

#question-form {
  width: 600px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
}
#question-form p{
  margin: 0;
  font-style: italic;
}
#question-form label {
  display: block;
  margin-top: 1em;
  font-size: 40px;
  color: #333;
}
#question-form input[type="text"],
#question-form textarea {
  height: 20%;
  font-size: 24px;
  width: 100%;
  padding: 8px;
  margin-top: 0.5em;
  border: 1px solid black;
  box-sizing: border-box; /* Makes sure padding doesn't affect width */
}
#question-form button {
  display: block;
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  background-color: hsl(216, 73%, 47%);
  color: white;
  border: 2px solid black;
  cursor: pointer;
  font-size: 22px;
}
#question-form button:hover {
  background-color: hsl(216, 73%, 47%);
}
.error {
  color: red;
}

#no-question-found{
  font-size: 24px;
  font-weight: 600;
  color: black;
  padding-top: 1%;
  padding-left: 3%;
}